@model CRMProductSystem.Models.Customer

<h2>Customer Details</h2>

<div class="card p-3 mb-4">

    <h4>@Model.CustomerName</h4>

    <p><b>Email:</b> @Model.Email</p>
    <p><b>Phone:</b> @Model.Phone</p>
    <p><b>Address:</b> @Model.Address</p>

</div>

<hr />

<h4>Activity Timeline</h4>

@if (ViewBag.ActivityLogs != null && ViewBag.ActivityLogs.Count > 0)
{
    <ul class="list-group">

        @foreach (var log in ViewBag.ActivityLogs)
        {
            <li class="list-group-item">
                <b>@log.ActivityDate.ToString("dd MMM yyyy")</b>
                <br />
                @log.Description
            </li>
        }

    </ul>
}
else
{
    <p>No activity found for this customer.</p>
}